body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.list {
  width: 50%;
  list-style: none;
}

.list__item {
  background-color: lightslategray;
  padding: 5px 20px;
  margin: 10px 0;
  width: 120px;
  display: flex;
  align-items: center;
}

.list__item__button {
  flex: 1;
}


.list__item__label {
  padding-right: 20px;
  flex: 2;
}